button
{
    position: relative;
    top: 630px;
}

table
{
    position: relative;
    top: 600px;
    color: black;
    width: 800px;
    text-align: center;
    border-spacing: 12px;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(59, 59, 59);
}

table.MainMenu
{
    top: 0px;
}

#Explore, #Play
{
    font-size: 60px;
    width: 400px;
}

#Explore a, #Play a
{
    color: white;
    text-decoration: none;
}

#Explore a:hover, #Play a:hover
{
    font-size: 70px;
}

#mmTitle h1
{
    width: 800px;
    font-size: 70px;
}

#mmTitle h2
{
    width: 800px;
    font-size: 30px;
    font-weight: normal;
}

td
{
    color: whitesmoke;
}

td.hit0
{
    color: black;
    height: 35px;
    background-color: rgb(46, 226, 46);
}

td.hit1
{
    height: 35px;
    background-color: rgb(226, 214, 46);
}

td.hit2
{
    height: 35px;
    background-color: rgb(189, 17, 17);
}

td.hit3
{
    height: 35px;
    background-color: rgb(54, 54, 54);
}

#GameOver
{
    position:absolute;
	bottom:20px;
	left:20px;
	color:#b8c3f5;
}

#gamebg
{
    background-color: rgb(48, 48, 48);
}